/*
=============== 
Variables
===============
*/

:root {
    --clr-dark: #0F0E17;
    --clr-title: #E53170;
    --clr-email: #17CCF2;
    --clr-light: #FFFFFE;

}

/*
=============== 
Global Styles
===============
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--clr-light);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: auto;
    font-family: 'Poppins', sans-serif;

}

/*
=============== 
Header
===============
*/

h1 {
    padding: 2.5rem 0;
    color: var(--clr-title);
    font-size: 2.5rem;
    font-family: 'Fredoka One', cursive;
}

header {
    margin-bottom: 2rem;
    text-align: center;
}

/*
=============== 
Main
===============
*/

.col-4 {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    width: calc(100% / 3 - 2rem);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    float: left;
    margin: 1rem;
    margin-bottom: 2rem;
}

img {
    height: 6.25rem;
    max-width: 100%;
    float: left;
    margin-right: 1rem;

}

.info {
    padding: 0.6rem;
    height: 100%;
}

.info * {
    margin: 0.1rem;
}

h3 {
    font-size: 1.25rem;
}

span {
    font-size: 0.9rem;
    display: block;
}

.e_mail {
    color: var(--clr-email);
}

/*
=============== 
Responsive
===============
*/

@media screen and (max-width: 1512px) {
    img {
        height: 4.6rem;
        max-width: 100%;
        float: left;
        margin-right: 1rem;
    }

    .info {
        padding: 0.5rem;
        height: 100%;
    }

    .info * {
        margin: 0.2rem
    }

    span {
        font-size: 0.6rem;
        display: block;
    }

    h3 {
        font-size: 0.7rem;
    }

}

@media screen and (max-width: 1132px) {
    img {
        height: 3.2rem;
        max-width: 100%;
        float: left;
        margin-right: 1rem;
    }

    .info {
        padding: 0.2rem;
        height: 100%;
    }

    .info * {
        margin: 0.2rem
    }

    span {
        font-size: 0.4rem;
        display: block;
    }

    h3 {
        font-size: 0.5rem;
    }

}